[submodule "vim/pack/plugins/start/vim-go"]
	path = vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/pack/vendor/start/nerdtree"]
	path = vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/pack/dist/start/vim-airline"]
	path = vim/pack/dist/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/pack/tpope/start/fugitive"]
	path = vim/pack/tpope/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/dist/start/vim-airline-themes"]
	path = pack/dist/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/pack/dist/start/vim-airline-themes"]
	path = vim/pack/dist/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
